In [4]:
import mysql.connector as connector

In [17]:
connection = connector.connect(database='db-capstone', host='192.168.44.164', user='emma',  password='Emma12nuel!')

In [35]:
show_tables_query = 'select * from Orders'

In [36]:
cursor = connection.cursor()

In [37]:
cursor.execute(show_tables_query)

In [38]:
result = cursor.fetchall()

In [39]:
print(cursor.column_names)

('DeliveryID', 'OrderID', 'MenuID', 'BookingID', 'Cost', 'Quantity', 'OrderDate')

In [34]:
print(result)

[('DeliveryID', b'int', 'NO', 'PRI', None, 'auto_increment'), ('OrderID', b'int', 'NO', 'MUL', None, ''), ('MenuID', b'int', 'NO', 'MUL', None, ''), ('BookingID', b'int', 'NO', 'MUL', None, ''), ('Cost', b'decimal(10,2)', 'NO', '', None, ''), ('Quantity', b'int', 'NO', '', None, ''), ('OrderDate', b'date', 'NO', '', None, '')]

In [22]:
print(result)

[('Bookings',), ('Customers',), ('Delivery',), ('Menu',), ('MenuItem',), ('Orders',), ('OrdersView',)]

In [40]:
task3query = """
select cus.FullName, cus.ContactNumber, ord.Cost from Customers as cus
inner join 
Orders as ord
where ord.Cost > 60
"""

In [41]:
cursor.execute(task3query)

In [42]:
result = cursor.fetchall()

In [43]:
print(result)

[]